<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-900 font-bold text-5xl mb-3">Welcome to Space Is the Place</div>
        <div class="text-700 text-2xl mb-5">Desde que tengo memoria, he estado fascinado por los viajes espaciales.
            Crecí durante la década de 1960, una era en la
            que la humanidad dio sus primeros pasos más allá de la Tierra, estableciendo la Luna como objetivo y
            logrando alcanzarla
            en ese mismo período.</div>
        <button pButton pRipple label="Acerca de" icon="pi pi-external-link"
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>

<app-homecards></app-homecards>