<div class=" px-8 py-8 pt-40 grid grid-cols-1">
    <div class="text-700">
        <h1 class="text-900 font-bold text-4xl mb-3">Welcome to <span class="text-purple-500">Space Is the Place</span>
        </h1>
        <section class="text-700 text-xl mb-5">
            I have been interested in spaceflight all my life. Perhaps this resulted from my coming of age and
            developing an
            awareness of the larger world during the 1960's, when mankind made its first tentative steps beyond our
            protective
            Earth, decided that the Moon was the first goal, and BY GOLLY GOT THERE WITHIN THAT SAME DECADE!!! Pretty
            impressive for
            someone of my age in those years (i.e. 6 to 16), and proof to me that anything is possible. Mankind's
            destiny has to be
            in space.
        </section>

        <section class="surface-section py-8 text-center">


            <div class="card justify-center border-2 rounded-md">
                <p-panel class="">

                    <div class="mb-3 text-3xl" id="texto">
                        <span class="text-900 font-bold">
                            "The dinosaurs went extinct because they didn't have a
                            <span class="text-purple-500 font-bold">space program</span>"
                        </span>

                        <div class="text-lg mt-2">
                            <span>
                                - Arthur C. Clarke, science/science fiction writer, visionary and author of
                                <span class="font-bold">"2001 - A Space Odyssey"</span>
                            </span>
                        </div>
                    </div>
                </p-panel>
            </div>
        </section>

    </div>
</div>

<app-homecards></app-homecards>