<div class="background">
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="hero-section" [style.background-image]="'url(assets/images/the_shrine_2020.jpg)'">
    <div class="hero-content">
        <h1>My Passion for Spaceflight</h1>
        <div class="text-2xl">

            <p>Exploring launch sites, building models, and honoring friends who shared this journey</p>
            <p>My intention on this site is to convey my enthusiasm for spaceflight by describing
                the exciting visits I have made to space launch sites all over the world...</p>
<br>
                <div class="flex justify-center items-center gap-2 text-purple-500">
                    <i class="fas fa-envelope"></i>
                  
                    <!-- Dirección de correo -->
                    <address>
                      <a href="mailto:ken@spaceistheplace.ca" class="underline italic">Ken R. Harman</a>
                    </address>
                  </div>
        </div>
    </div>
</div>


<div class="border-2 rounded-3xl py-4 my-4">

    <h2 style="text-align: center;" class="text-3xl">This site is dedicated to the memory of three dear friends who
        shared my passion for spaceflight:</h2>
    <div class="p-grid p-justify-center">
        <div class="p-col-12 p-md-4 text-center flex flex-col gap-2">
            <p class="text-3xl"><span class="text-purple-500 font-bold">Ron Caswell</span> ( 1954 - 2019 )
            </p>
            <p class="text-3xl"><span class="text-purple-500 font-bold">Butch Head</span> ( 1952 - 2005 )</p>
            <p class="text-3xl"><span class="text-purple-500 font-bold">Barry Shanko</span> ( 1960 - 2020 )</p>
        </div>

    </div>
    <div class="flex justify-center py-4">
        <img src="assets/images/ron_butch_barry.jpg" alt="My friends" class="max-w-full rounded-2xl">
    </div>


</div>