<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-900 font-bold text-5xl mb-3">Mis visitas a centros espaciales</div>
        <div class="text-700 text-2xl mb-5">He tenido el privilegio de recorrer instalaciones de lanzamiento en cinco
            continentes, experiencias que relato
            detalladamente para transmitir la emoción de estar en lugares clave de la historia espacial.</div>
        <button pButton pRipple label="Acerca de" icon="pi pi-external-link"
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>